* {
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=5170), pointer;
	margin: 0;
	padding: 0;
}

body {
	background: #e3edf7;
}

h1 {
	font-family: 'Recursive', sans-serif;
	font-weight: normal;
	font-size: 25px;
	letter-spacing: 4px;
	padding: 200px 0 100px; /*Para ficar no meio*/
	color: #555;
	text-align: center;
}

/*Inicio dos icons*/

.social-media {
	display: flex; /*Display flex para depois colocar no meio "justify content"*/
	justify-content: center;

}

a{
	display: flex;
	background: #e3edf7; 
	height: 75px;
	width: 75px;
	margin: 0 15px;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	-6px -6px 10px -1px rgba(255,255,255,0.7); /*Somba da caixa*/

	border: 1px solid rgba(0,0,0,0);
	transition: transform 0.5s;
}

a i {
	font-size: 35px;
	color: #777; 

	transition: transform 0.5s;
}

a:hover {
	box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), /*inset para a sombra ficar dentro da caixa*/
	inset -4px -4px 6px -1px rgba(255,255,255,0.7), /*Somba da caixa*/
	-0.5px -0.5px 0px rgba(255,255,255,1),
	0.5px 0.5px 0px rgba(0,0,0,0.15),
	0px 12px 10px -10px rgba(0,0,0,0.05);

	border: 1px solid rgba(0,0,0,0.1);
	transform: translateY(2px);
}

a:hover i {
	transform: scale(0.90);
}

a:hover .fa-steam {
	color: #000;
}
a:hover .fa-instagram {
	color: #f403fc;
}
a:hover .fa-twitter {
	color: #00d9ff;
}
a:hover .fa-youtube {
	color: #ff0000;
}

/*Fim dos Icons*/

/*Designed by faisca*/

.byfaisca {
	font-family: 'Recursive', sans-serif;
	font-size: 15px;
	opacity: 15%;
	display: flex;
	justify-content: center;
	letter-spacing: 2px;
}

/*FIM Designed by faisca*/

/*Particles*/

#faisca12{
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

canvas{
    height:100vh;
    background-color:#16a085;
}

/*FIM particles*/